h1  { 
    color: green; 
    font-size: 20px;
}

img:hover {
     background-color: gold;
}


.Bacon{
background-color: green;
}
.Broccoli{
    background-color: red;
}
.circular{
    border-radius: 100%;
}
#heading{
    color: blue;
} 